/* Importing roboto font styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Changes all the elements in the html when * is used */
*{
    /* Resetting the padding and margin to zero */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Setting all the text to Roboto. Will bounce back to san-serif if roboto is 
    not supported on the specific broswer. */
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 70px;
    /* Puts the content of the header side by side */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Add padding to the right and left of the nav bar. Top and bottom set to zero*/
    padding: 0 24px;
    background-color: #cafdff;
}

/* Targeting all the links on the webpage */
a{
    color:black;
    font-size: 24px;
    font-weight: bold;
}

header{
    background-color: #eadcff;
    /* Adjust the height of the header after the navigation bar */
    height: calc(100vh - 70px);
    padding: 24px;
    /* Puts the content of the header side by side */
    display: flex;
    /* Align items to the center of the header */
    align-items: center ;
    justify-content: center;
    
    
}

h1{
    font-size: 72px;
}

.subheader{
    font-size: 36px;
    margin: 16px 0 32px 0;
}

button{
    background-color: #05c7cf ;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}

/* Created a class on the image named logo to adjust the size of the image */
.logo{
    width: 300px;
}

/* Target the links to go side by side */
ul{
    display: flex ;
    
}

/* Make changes to the items in the list*/
li{
    /* Removes the bullet points from the list items/Links */
    list-style-type: none;
    /* Adds spacing between the listed items */
    padding-left: 16px;
}

.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#About , #Discord , #Contact , footer {
    /* Add padding around the about section top and bottom by 48px */
    padding: 48px 0px;
   
}

/* About Section */


#About{
    background-color: #f8ffdc;
}

h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Set the image wrap width to 40% to take that much space on the right */
.about_img--wrapperclass{
    width: 40%;
    padding: 0 24px;
}

img{
    width: 100%;
}

/* Set the text wrap width to 60% to take that much space on the left */
.section__description--wrapper{
    width: 60%;
    padding: 0 24px;
}

/* Customize the paragraph texts in the about section */
.selection__description--para
{
    font-size: 20px;
    /* Add spacing in between sentences */
    line-height: 1.5;
}

/* Discord Section */

#Discord{
    background-color: #cefeff;
}

/* Contact Section */

#Contact{
    background-color: #dce9ff;

}

form{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input , textarea {
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px 12px;
}

/* Footer Section */

footer{
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_logo{
    max-width: 480px;
    margin-bottom: 16px;
}

.footer_links{
    margin-bottom: 32px;
}

.footer_link{
    padding: 0 16px;
}



